# Environment variables for SpiffCommerce
# These are only used during local development and are supplied dynamically when the theme is deployed.
VITE_APPLICATION_KEY=<INSERT_SPIFFCOMMERCE_APPLICATION_KEY>
VITE_HUB_URL=https://hub.au.spiffcommerce.com
VITE_SERVER_URL=https://api.au.spiffcommerce.com
VITE_SERVICES_URL=https://services.au.spiffcommerce.com

# Any additional variables you need.
# Remember you'll need to include these in the build if they're required at runtime.